{% extends 'base.html' %}

{% block title %}Upload File{% endblock %}

{% block content %}
<div class="container main-centered">
   <div class="login">
      <h1 class="mb-5 text-center text-warning">Upload your profile picture</h1>

      <form class="profile login-form" method="POST" enctype="multipart/form-data">

      {{ form.hidden_tag() }}

      {% for field in form
      if field.widget.input_type != 'hidden' %}
      <p>
         {{ field.label }}
         {{ field(autocomplete="off", class_="form-control") }}

         {% for error in field.errors %}
         {{ error }}
         {% endfor %}
      </p>
      {% endfor %}

      <button class="btn btn-md btn-outline-warning btn-block" type="submit">Submit</button>
      <p class="text-center mt-2">(Only files with extensions "jpg" and "png" are allowed!)</p>
      </div>
      </form>
</div>
</div>
{% endblock %}